.signup {
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.signup_form {
    min-width: 500px;
    display: flex;
    flex-direction: column;  
}

.signup-form__link {
    text-decoration: none;
    color: inherit;
}